*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://plus.unsplash.com/premium_photo-1755038252954-7ef4c1bac390?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDR8aVVJc25WdGpCMFl8fGVufDB8fHx8fA%3D%3D);
}

.voiceinator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(207, 207, 207);
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
}

.margin{
    margin: 10px;
}

.edu-nsw-act-cursive-heading {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.edu-nsw-act-cursive-button {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1{
    background-color: rgb(216, 216, 8) ;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}



textarea{
    width: 300px;
    height: 150px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border: 0;
    background-color: rgba(209, 209, 209, 0.311);
}


select{
    padding: 1px;
    font-size: 0.8rem;
}

button{
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    background: rgb(216, 216, 8);
    border: 0;
    width: 100%;
}

.buttons{
    display: flex;

}

select{
    cursor: pointer;
    width: 200px;
    text-align: center;
    font-size: 1rem;
    background-color: rgba(209, 209, 209, 0.311);
    height: max-content;
}